<footer
	class="footer_wrap footer_custom footer_custom_4105 footer_custom_footer-extra-with-instagram						 scheme_dark						">
	<div data-elementor-type="cpt_layouts" data-elementor-id="4105" class="elementor elementor-4105">
		<section
			class="elementor-section elementor-top-section elementor-element elementor-element-90e7959 elementor-section-full_width scheme_dark elementor-section-height-default elementor-section-height-default sc_fly_static"
			data-id="90e7959" data-element_type="section" data-settings="{" background_background":"classic"}"="">
			<div class="elementor-background-overlay"></div>
			<div class="elementor-container elementor-column-gap-no">
				<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-07cbdc7 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
					data-id="07cbdc7" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-5a68467 elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static"
							data-id="5a68467" data-element_type="section">
							<div class="elementor-container elementor-column-gap-extended">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-b3cb7e1 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
									data-id="b3cb7e1" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="sc_layouts_item elementor-element elementor-element-ee3c5a6 sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="ee3c5a6" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-d2b547d sc_height_large sc_layouts_hide_on_mobile sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="d2b547d" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-22155f1 sc_layouts_row sc_layouts_row_type_narrow elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static"
							data-id="22155f1" data-element_type="section" data-settings="{"
							background_background":"classic"}"="">
							<div class="elementor-container elementor-column-gap-extended">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-84f1571 sc_layouts_column_align_center sc_layouts_column scheme_dark sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
									data-id="84f1571" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="sc_layouts_item elementor-element elementor-element-9e0725d sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_iconed_text"
											data-id="9e0725d" data-element_type="widget"
											data-widget_type="trx_sc_layouts_iconed_text.default">
											<div class="elementor-widget-container">
												<div class="sc_layouts_iconed_text"><a
														href="https://www.instagram.com/themerex_net/"
														class="sc_layouts_item_link sc_layouts_iconed_text_link"><span
															class="sc_layouts_item_icon sc_layouts_iconed_text_icon icon-instagram sc_icon_type_icons"></span><span
															class="sc_layouts_item_details sc_layouts_iconed_text_details"><span
																class="sc_layouts_item_details_line1 sc_layouts_iconed_text_line1">instagram</span></span></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-f5c9c59 elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static"
							data-id="f5c9c59" data-element_type="section">
							<div class="elementor-container elementor-column-gap-extended">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-cf3daf2 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
									data-id="cf3daf2" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="sc_layouts_item elementor-element elementor-element-f778f87 sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="f778f87" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-4f4db0d sc_fly_static elementor-widget elementor-widget-trx_widget_instagram"
											data-id="4f4db0d" data-element_type="widget"
											data-widget_type="trx_widget_instagram.default">
											<div class="elementor-widget-container">
												<div class="widget_area sc_widget_instagram">
													<aside class="widget widget_instagram">
														<div class="widget_instagram_wrap widget_instagram_type_simple">
															<div
																class="widget_instagram_images widget_instagram_images_columns_6 trx_addons_inline_422286553">
																<div
																	class="widget_instagram_images_item_wrap trx_addons_inline_1259814848">
																	<div title="" rel="magnific"
																		class="widget_instagram_images_item widget_instagram_images_item_type_image trx_addons_inline_1565230952"
																		data-ratio="1:1"><span
																			class="widget_instagram_images_item_counters"><span
																				class="widget_instagram_images_item_counter_likes trx_addons_icon-heart">93</span><span
																				class="widget_instagram_images_item_counter_comments trx_addons_icon-comment">4</span></span>
																	</div>
																</div>
																<div
																	class="widget_instagram_images_item_wrap trx_addons_inline_1839070010">
																	<div title="" rel="magnific"
																		class="widget_instagram_images_item widget_instagram_images_item_type_image trx_addons_inline_637512124"
																		data-ratio="1:1"><span
																			class="widget_instagram_images_item_counters"><span
																				class="widget_instagram_images_item_counter_likes trx_addons_icon-heart">8</span><span
																				class="widget_instagram_images_item_counter_comments trx_addons_icon-comment">87</span></span>
																	</div>
																</div>
																<div
																	class="widget_instagram_images_item_wrap trx_addons_inline_468252849">
																	<div title="" rel="magnific"
																		class="widget_instagram_images_item widget_instagram_images_item_type_image trx_addons_inline_1278591252"
																		data-ratio="1:1"><span
																			class="widget_instagram_images_item_counters"><span
																				class="widget_instagram_images_item_counter_likes trx_addons_icon-heart">70</span><span
																				class="widget_instagram_images_item_counter_comments trx_addons_icon-comment">46</span></span>
																	</div>
																</div>
																<div
																	class="widget_instagram_images_item_wrap trx_addons_inline_511406959">
																	<div title="" rel="magnific"
																		class="widget_instagram_images_item widget_instagram_images_item_type_image trx_addons_inline_1151884614"
																		data-ratio="1:1"><span
																			class="widget_instagram_images_item_counters"><span
																				class="widget_instagram_images_item_counter_likes trx_addons_icon-heart">25</span><span
																				class="widget_instagram_images_item_counter_comments trx_addons_icon-comment">15</span></span>
																	</div>
																</div>
																<div
																	class="widget_instagram_images_item_wrap trx_addons_inline_1095460356">
																	<div title="" rel="magnific"
																		class="widget_instagram_images_item widget_instagram_images_item_type_image trx_addons_inline_810560403"
																		data-ratio="1:1"><span
																			class="widget_instagram_images_item_counters"><span
																				class="widget_instagram_images_item_counter_likes trx_addons_icon-heart">99</span><span
																				class="widget_instagram_images_item_counter_comments trx_addons_icon-comment">5</span></span>
																	</div>
																</div>
																<div
																	class="widget_instagram_images_item_wrap trx_addons_inline_1963646954">
																	<div title="" rel="magnific"
																		class="widget_instagram_images_item widget_instagram_images_item_type_image trx_addons_inline_1958958392"
																		data-ratio="1:1"><span
																			class="widget_instagram_images_item_counters"><span
																				class="widget_instagram_images_item_counter_likes trx_addons_icon-heart">10</span><span
																				class="widget_instagram_images_item_counter_comments trx_addons_icon-comment">85</span></span>
																	</div>
																</div>
															</div>
														</div>
													</aside>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-d7bf212 sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="d7bf212" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-89ba99f sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet sc_layouts_hide_on_mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static"
							data-id="89ba99f" data-element_type="section">
							<div class="elementor-container elementor-column-gap-extended">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-ea47041 sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
									data-id="ea47041" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="sc_layouts_item elementor-element elementor-element-b645e2f sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="b645e2f" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-af420be no_load sc_fly_static elementor-widget elementor-widget-shortcode"
											data-id="af420be" data-element_type="widget"
											data-widget_type="shortcode.default">
											<div class="elementor-widget-container">
												<div class="elementor-shortcode">
													<div id="sb_instagram"
														class="sbi sbi_mob_col_2 sbi_tab_col_3 sbi_col_6 sbi_width_resp"
														style="padding-bottom: 30px;" data-feedid="*2" data-res="auto"
														data-cols="6" data-colsmobile="2" data-colstablet="3"
														data-num="6" data-nummobile="6" data-item-padding="15"
														data-shortcode-atts="{" feed":"2"}"="" data-postid="37192"
														data-locatornonce="b144f513d7" data-imageaspectratio="1:1"
														data-sbi-flags="favorLocal">

														<div id="sbi_images" style="gap: 30px;">
															<div class="sbi_item sbi_type_image sbi_new sbi_transition"
																id="sbi_17956494475071397" data-date="1531902394">
																<div class="sbi_photo_wrap">
																	<a class="sbi_photo"
																		href="https://www.instagram.com/p/BlXcLRvBqF5/"
																		target="_blank" rel="noopener nofollow"
																		data-full-res="https://scontent-fra3-1.cdninstagram.com/v/t51.2885-15/36731903_242423089819797_9198427700023263232_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=18de74&_nc_ohc=k-6T5_LGixkQ7kNvgEQBfbu&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAHtHV6PnTzU1VIQzX7QjTM57fllQCXbfhG2OjvnwYPMQ&oe=675662CF"
																		data-img-src-set="{" d":"https:\="" \=""
																		scontent-fra3-1.cdninstagram.com\="" v\=""
																		t51.2885-15\=""
																		36731903_242423089819797_9198427700023263232_n.jpg?_nc_cat="103&ccb=1-7&_nc_sid=18de74&_nc_ohc=k-6T5_LGixkQ7kNvgEQBfbu&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAHtHV6PnTzU1VIQzX7QjTM57fllQCXbfhG2OjvnwYPMQ&oe=675662CF"
																		,"150":"https:\/\/scontent-fra3-1.cdninstagram.com\/v\/t51.2885-15\/36731903_242423089819797_9198427700023263232_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=18de74&_nc_ohc=k-6T5_LGixkQ7kNvgEQBfbu&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAHtHV6PnTzU1VIQzX7QjTM57fllQCXbfhG2OjvnwYPMQ&oe=675662CF","320":"https:\/\/scontent-fra3-1.cdninstagram.com\/v\/t51.2885-15\/36731903_242423089819797_9198427700023263232_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=18de74&_nc_ohc=k-6T5_LGixkQ7kNvgEQBfbu&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAHtHV6PnTzU1VIQzX7QjTM57fllQCXbfhG2OjvnwYPMQ&oe=675662CF","640":"https:\/\/scontent-fra3-1.cdninstagram.com\/v\/t51.2885-15\/36731903_242423089819797_9198427700023263232_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=18de74&_nc_ohc=k-6T5_LGixkQ7kNvgEQBfbu&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAHtHV6PnTzU1VIQzX7QjTM57fllQCXbfhG2OjvnwYPMQ&oe=675662CF"}"">
																		<span
																			class="sbi-screenreader">#giardino_ancora</span>
																		<img src="/pics/placeholder.png"
																			alt="#giardino_ancora" aria-hidden="true">
																	</a>
																</div>
															</div>
															<div class="sbi_item sbi_type_image sbi_new sbi_transition"
																id="sbi_17931837037158934" data-date="1531902365">
																<div class="sbi_photo_wrap">
																	<a class="sbi_photo"
																		href="https://www.instagram.com/p/BlXcHv-hbbZ/"
																		target="_blank" rel="noopener nofollow"
																		data-full-res="https://scontent-fra5-2.cdninstagram.com/v/t51.2885-15/36881651_222882441767413_6149639882147889152_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=18de74&_nc_ohc=j9NyZr6LiUIQ7kNvgEmCzBZ&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAdyJqdJid3BuRpwCtv1rIiDW5Jbbk-3jLX3056fblfJQ&oe=6756744D"
																		data-img-src-set="{" d":"https:\="" \=""
																		scontent-fra5-2.cdninstagram.com\="" v\=""
																		t51.2885-15\=""
																		36881651_222882441767413_6149639882147889152_n.jpg?_nc_cat="107&ccb=1-7&_nc_sid=18de74&_nc_ohc=j9NyZr6LiUIQ7kNvgEmCzBZ&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAdyJqdJid3BuRpwCtv1rIiDW5Jbbk-3jLX3056fblfJQ&oe=6756744D"
																		,"150":"https:\/\/scontent-fra5-2.cdninstagram.com\/v\/t51.2885-15\/36881651_222882441767413_6149639882147889152_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=18de74&_nc_ohc=j9NyZr6LiUIQ7kNvgEmCzBZ&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAdyJqdJid3BuRpwCtv1rIiDW5Jbbk-3jLX3056fblfJQ&oe=6756744D","320":"https:\/\/scontent-fra5-2.cdninstagram.com\/v\/t51.2885-15\/36881651_222882441767413_6149639882147889152_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=18de74&_nc_ohc=j9NyZr6LiUIQ7kNvgEmCzBZ&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAdyJqdJid3BuRpwCtv1rIiDW5Jbbk-3jLX3056fblfJQ&oe=6756744D","640":"https:\/\/scontent-fra5-2.cdninstagram.com\/v\/t51.2885-15\/36881651_222882441767413_6149639882147889152_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=18de74&_nc_ohc=j9NyZr6LiUIQ7kNvgEmCzBZ&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAdyJqdJid3BuRpwCtv1rIiDW5Jbbk-3jLX3056fblfJQ&oe=6756744D"}"">
																		<span
																			class="sbi-screenreader">#giardino_ancora</span>
																		<img src="/pics/placeholder.png"
																			alt="#giardino_ancora" aria-hidden="true">
																	</a>
																</div>
															</div>
															<div class="sbi_item sbi_type_image sbi_new sbi_transition"
																id="sbi_17899640791214104" data-date="1531902318">
																<div class="sbi_photo_wrap">
																	<a class="sbi_photo"
																		href="https://www.instagram.com/p/BlXcB8Yhh0a/"
																		target="_blank" rel="noopener nofollow"
																		data-full-res="https://scontent-fra3-1.cdninstagram.com/v/t51.2885-15/36892158_199751507374459_6526553988567924736_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=b-bZtEUhs5wQ7kNvgGlDIAS&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAvCafKXwPyA9X5ISxwcPNK7tLaCelbfp55I-7bm0wLjQ&oe=675659E2"
																		data-img-src-set="{" d":"https:\="" \=""
																		scontent-fra3-1.cdninstagram.com\="" v\=""
																		t51.2885-15\=""
																		36892158_199751507374459_6526553988567924736_n.jpg?_nc_cat="108&ccb=1-7&_nc_sid=18de74&_nc_ohc=b-bZtEUhs5wQ7kNvgGlDIAS&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAvCafKXwPyA9X5ISxwcPNK7tLaCelbfp55I-7bm0wLjQ&oe=675659E2"
																		,"150":"https:\/\/scontent-fra3-1.cdninstagram.com\/v\/t51.2885-15\/36892158_199751507374459_6526553988567924736_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=b-bZtEUhs5wQ7kNvgGlDIAS&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAvCafKXwPyA9X5ISxwcPNK7tLaCelbfp55I-7bm0wLjQ&oe=675659E2","320":"https:\/\/scontent-fra3-1.cdninstagram.com\/v\/t51.2885-15\/36892158_199751507374459_6526553988567924736_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=b-bZtEUhs5wQ7kNvgGlDIAS&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAvCafKXwPyA9X5ISxwcPNK7tLaCelbfp55I-7bm0wLjQ&oe=675659E2","640":"https:\/\/scontent-fra3-1.cdninstagram.com\/v\/t51.2885-15\/36892158_199751507374459_6526553988567924736_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=b-bZtEUhs5wQ7kNvgGlDIAS&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAvCafKXwPyA9X5ISxwcPNK7tLaCelbfp55I-7bm0wLjQ&oe=675659E2"}"">
																		<span
																			class="sbi-screenreader">#giardino_ancora</span>
																		<img src="/pics/placeholder.png"
																			alt="#giardino_ancora" aria-hidden="true">
																	</a>
																</div>
															</div>
															<div class="sbi_item sbi_type_image sbi_new sbi_transition"
																id="sbi_17853460048278441" data-date="1531902284">
																<div class="sbi_photo_wrap">
																	<a class="sbi_photo"
																		href="https://www.instagram.com/p/BlXb91RhQtP/"
																		target="_blank" rel="noopener nofollow"
																		data-full-res="https://scontent-fra5-2.cdninstagram.com/v/t51.2885-15/36595806_446755205799007_3601522977562165248_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=18de74&_nc_ohc=EXyGyVMxghAQ7kNvgF2dkH7&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAUCgt2PM-u4giQ2jhWJ0NoipVnSlnEBJe4trGU_a4nnA&oe=67567F59"
																		data-img-src-set="{" d":"https:\="" \=""
																		scontent-fra5-2.cdninstagram.com\="" v\=""
																		t51.2885-15\=""
																		36595806_446755205799007_3601522977562165248_n.jpg?_nc_cat="106&ccb=1-7&_nc_sid=18de74&_nc_ohc=EXyGyVMxghAQ7kNvgF2dkH7&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAUCgt2PM-u4giQ2jhWJ0NoipVnSlnEBJe4trGU_a4nnA&oe=67567F59"
																		,"150":"https:\/\/scontent-fra5-2.cdninstagram.com\/v\/t51.2885-15\/36595806_446755205799007_3601522977562165248_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=18de74&_nc_ohc=EXyGyVMxghAQ7kNvgF2dkH7&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAUCgt2PM-u4giQ2jhWJ0NoipVnSlnEBJe4trGU_a4nnA&oe=67567F59","320":"https:\/\/scontent-fra5-2.cdninstagram.com\/v\/t51.2885-15\/36595806_446755205799007_3601522977562165248_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=18de74&_nc_ohc=EXyGyVMxghAQ7kNvgF2dkH7&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAUCgt2PM-u4giQ2jhWJ0NoipVnSlnEBJe4trGU_a4nnA&oe=67567F59","640":"https:\/\/scontent-fra5-2.cdninstagram.com\/v\/t51.2885-15\/36595806_446755205799007_3601522977562165248_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=18de74&_nc_ohc=EXyGyVMxghAQ7kNvgF2dkH7&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAUCgt2PM-u4giQ2jhWJ0NoipVnSlnEBJe4trGU_a4nnA&oe=67567F59"}"">
																		<span
																			class="sbi-screenreader">#giardino_ancora</span>
																		<img src="/pics/placeholder.png"
																			alt="#giardino_ancora" aria-hidden="true">
																	</a>
																</div>
															</div>
															<div class="sbi_item sbi_type_image sbi_new sbi_transition"
																id="sbi_17933159581182834" data-date="1531902255">
																<div class="sbi_photo_wrap">
																	<a class="sbi_photo"
																		href="https://www.instagram.com/p/BlXb6TFBI5k/"
																		target="_blank" rel="noopener nofollow"
																		data-full-res="https://scontent-fra3-1.cdninstagram.com/v/t51.2885-15/36699406_1177588825717194_3336843573541732352_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=fgTKHbzCkUQQ7kNvgF5MsRO&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAEU1F-eO08TmnkFIlEDwUNIqNfJWlZ0wUh_WX15BuXCQ&oe=67566086"
																		data-img-src-set="{" d":"https:\="" \=""
																		scontent-fra3-1.cdninstagram.com\="" v\=""
																		t51.2885-15\=""
																		36699406_1177588825717194_3336843573541732352_n.jpg?_nc_cat="108&ccb=1-7&_nc_sid=18de74&_nc_ohc=fgTKHbzCkUQQ7kNvgF5MsRO&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAEU1F-eO08TmnkFIlEDwUNIqNfJWlZ0wUh_WX15BuXCQ&oe=67566086"
																		,"150":"https:\/\/scontent-fra3-1.cdninstagram.com\/v\/t51.2885-15\/36699406_1177588825717194_3336843573541732352_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=fgTKHbzCkUQQ7kNvgF5MsRO&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAEU1F-eO08TmnkFIlEDwUNIqNfJWlZ0wUh_WX15BuXCQ&oe=67566086","320":"https:\/\/scontent-fra3-1.cdninstagram.com\/v\/t51.2885-15\/36699406_1177588825717194_3336843573541732352_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=fgTKHbzCkUQQ7kNvgF5MsRO&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAEU1F-eO08TmnkFIlEDwUNIqNfJWlZ0wUh_WX15BuXCQ&oe=67566086","640":"https:\/\/scontent-fra3-1.cdninstagram.com\/v\/t51.2885-15\/36699406_1177588825717194_3336843573541732352_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=18de74&_nc_ohc=fgTKHbzCkUQQ7kNvgF5MsRO&_nc_zt=23&_nc_ht=scontent-fra3-1.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYAEU1F-eO08TmnkFIlEDwUNIqNfJWlZ0wUh_WX15BuXCQ&oe=67566086"}"">
																		<span
																			class="sbi-screenreader">#giardino_ancora</span>
																		<img src="/pics/placeholder.png"
																			alt="#giardino_ancora" aria-hidden="true">
																	</a>
																</div>
															</div>
															<div class="sbi_item sbi_type_image sbi_new sbi_transition"
																id="sbi_17961653116017621" data-date="1531902173">
																<div class="sbi_photo_wrap">
																	<a class="sbi_photo"
																		href="https://www.instagram.com/p/BlXbwVmB-Q6/"
																		target="_blank" rel="noopener nofollow"
																		data-full-res="https://scontent-fra5-2.cdninstagram.com/v/t51.2885-15/36999179_2012463835732566_7105201794053046272_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=18de74&_nc_ohc=ocAx75HOLdUQ7kNvgES6PcO&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYCKVA3UmAFfT5s3JX78frzXukbCUA4tJOyA1awhxzAbig&oe=67567246"
																		data-img-src-set="{" d":"https:\="" \=""
																		scontent-fra5-2.cdninstagram.com\="" v\=""
																		t51.2885-15\=""
																		36999179_2012463835732566_7105201794053046272_n.jpg?_nc_cat="109&ccb=1-7&_nc_sid=18de74&_nc_ohc=ocAx75HOLdUQ7kNvgES6PcO&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYCKVA3UmAFfT5s3JX78frzXukbCUA4tJOyA1awhxzAbig&oe=67567246"
																		,"150":"https:\/\/scontent-fra5-2.cdninstagram.com\/v\/t51.2885-15\/36999179_2012463835732566_7105201794053046272_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=18de74&_nc_ohc=ocAx75HOLdUQ7kNvgES6PcO&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYCKVA3UmAFfT5s3JX78frzXukbCUA4tJOyA1awhxzAbig&oe=67567246","320":"https:\/\/scontent-fra5-2.cdninstagram.com\/v\/t51.2885-15\/36999179_2012463835732566_7105201794053046272_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=18de74&_nc_ohc=ocAx75HOLdUQ7kNvgES6PcO&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYCKVA3UmAFfT5s3JX78frzXukbCUA4tJOyA1awhxzAbig&oe=67567246","640":"https:\/\/scontent-fra5-2.cdninstagram.com\/v\/t51.2885-15\/36999179_2012463835732566_7105201794053046272_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=18de74&_nc_ohc=ocAx75HOLdUQ7kNvgES6PcO&_nc_zt=23&_nc_ht=scontent-fra5-2.cdninstagram.com&edm=ANo9K5cEAAAA&oh=00_AYCKVA3UmAFfT5s3JX78frzXukbCUA4tJOyA1awhxzAbig&oe=67567246"}"">
																		<span
																			class="sbi-screenreader">#giardino_ancora</span>
																		<img src="/pics/placeholder.png"
																			alt="#giardino_ancora" aria-hidden="true">
																	</a>
																</div>
															</div>
														</div>

														<div id="sbi_load">



														</div>
														<span class="sbi_resized_image_data" data-feed-id="*2"
															data-resized="{"
															17956494475071397":{"id":"36731903_242423089819797_9198427700023263232_n","ratio":"1.00","sizes":{"full":640,"low":320,"thumb":150},"extension":".jpg"},"17931837037158934":{"id":"36881651_222882441767413_6149639882147889152_n","ratio":"1.00","sizes":{"full":640,"low":320,"thumb":150},"extension":".jpg"},"17899640791214104":{"id":"36892158_199751507374459_6526553988567924736_n","ratio":"1.00","sizes":{"full":640,"low":320,"thumb":150},"extension":".jpg"},"17853460048278441":{"id":"36595806_446755205799007_3601522977562165248_n","ratio":"1.00","sizes":{"full":640,"low":320,"thumb":150},"extension":".jpg"},"17933159581182834":{"id":"36699406_1177588825717194_3336843573541732352_n","ratio":"1.00","sizes":{"full":640,"low":320,"thumb":150},"extension":".jpg"},"17961653116017621":{"id":"36999179_2012463835732566_7105201794053046272_n","ratio":"1.00","sizes":{"full":640,"low":320,"thumb":150},"extension":".jpg"}}"="">
														</span>
													</div>

												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-5695189 sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="5695189" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-7b7cc22 sc_layouts_row sc_layouts_row_type_compact elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static"
							data-id="7b7cc22" data-element_type="section" data-settings="{"
							background_background":"classic"}"="">
							<div class="elementor-container elementor-column-gap-extended">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-ba532e4 sc_layouts_column_align_center sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
									data-id="ba532e4" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="sc_layouts_item elementor-element elementor-element-ff130e5 sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_logo"
											data-id="ff130e5" data-element_type="widget"
											data-widget_type="trx_sc_layouts_logo.default">
											<div class="elementor-widget-container">
												<a href="#"
													class="sc_layouts_logo sc_layouts_logo_default trx_addons_inline_1203157733"><img
														class="logo_image" src="/pics/logo-2.png"
														srcset="/pics/logo-2-retina.png 2x" alt="Tuning" width="183"
														height="51"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-06df42f sc_layouts_row sc_layouts_row_type_narrow elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static"
							data-id="06df42f" data-element_type="section" data-settings="{"
							background_background":"classic"}"="">
							<div class="elementor-container elementor-column-gap-extended">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-ead803a sc_layouts_column_align_center sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
									data-id="ead803a" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="sc_layouts_item elementor-element elementor-element-f200161 sc_layouts_hide_on_mobile sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="f200161" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-23a3bfb sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_menu"
											data-id="23a3bfb" data-element_type="widget"
											data-widget_type="trx_sc_layouts_menu.default">
											<div class="elementor-widget-container">
												<nav class="sc_layouts_menu sc_layouts_menu_default sc_layouts_menu_dir_horizontal menu_hover_zoom_line"
													data-animation-in="fadeIn" data-animation-out="fadeOut">
													<ul id="sc_layouts_menu_861657346" class="sc_layouts_menu_nav">
														<li id="menu-item-38127"
															class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-38127">
															<a href="/"><span>Home</span></a>
														</li>
														<li id="menu-item-38128"
															class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38128">
															<a href="/franchise"><span>Franchise</span></a>
														</li>
														<li id="menu-item-38129"
															class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38129">
															<a href="/contact-us"><span>Contact Us</span></a>
														</li>
													</ul>
												</nav>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-c3a754b sc_layouts_row sc_layouts_row_type_compact elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static"
							data-id="c3a754b" data-element_type="section" data-settings="{"
							background_background":"classic"}"="">
							<div class="elementor-container elementor-column-gap-extended">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a97eeaa sc_layouts_column_align_center sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
									data-id="a97eeaa" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="sc_layouts_item elementor-element elementor-element-63b4f1f sc_layouts_hide_on_mobile sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="63b4f1f" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-4e38b4e sc_fly_static elementor-widget elementor-widget-trx_sc_socials"
											data-id="4e38b4e" data-element_type="widget"
											data-widget_type="trx_sc_socials.default">
											<div class="elementor-widget-container">
												<div class="sc_socials sc_socials_default sc_align_none">
													<div class="socials_wrap sc_item_content"><a target="_blank"
															rel="nofollow"
															href="https://www.facebook.com/ThemeRexStudio/"
															class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
																class="social_icon social_icon_facebook-1"
																style=""><span
																	class="screen-reader-text">facebook-1</span><span
																	class="icon-facebook-1"></span></span></a><a
															target="_blank" rel="nofollow"
															href="https://twitter.com/ThemerexThemes/"
															class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
																class="social_icon social_icon_twitter-x" style=""><span
																	class="screen-reader-text">twitter-x</span><span
																	class="trx_addons_icon-twitter-x"></span></span></a><a
															target="_blank" rel="nofollow"
															href="https://dribbble.com/ThemeREX/"
															class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
																class="social_icon social_icon_dribble-new"
																style=""><span
																	class="screen-reader-text">dribble-new</span><span
																	class="icon-dribble-new"></span></span></a><a
															target="_blank" rel="nofollow"
															href="https://www.instagram.com/themerex_net/"
															class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
																class="social_icon social_icon_instagram" style=""><span
																	class="screen-reader-text">instagram</span><span
																	class="icon-instagram"></span></span></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-b9c3242 sc_layouts_row sc_layouts_row_type_compact elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static"
							data-id="b9c3242" data-element_type="section" data-settings="{"
							background_background":"classic"}"="">
							<div class="elementor-container elementor-column-gap-extended">
								<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-1c885cc sc_layouts_column_align_center sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
									data-id="1c885cc" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="sc_layouts_item elementor-element elementor-element-0d1f152 sc_height_medium sc_layouts_hide_on_mobile sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="0d1f152" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-ca42473 sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="ca42473" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-eeb3453 elementor-widget-divider--view-line sc_fly_static elementor-widget elementor-widget-divider"
											data-id="eeb3453" data-element_type="widget"
											data-widget_type="divider.default">
											<div class="elementor-widget-container">
												<div class="elementor-divider">
													<span class="elementor-divider-separator">
													</span>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-076960b sc_layouts_hide_on_mobile sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="076960b" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-7edc82b sc_fly_static elementor-widget elementor-widget-text-editor"
											data-id="7edc82b" data-element_type="widget"
											data-widget_type="text-editor.default">
											<div class="elementor-widget-container">
												<a href="#" target="_blank" rel="noopener">Prudhvi6e</a> © 2024. All
												rights reserved.
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-820ec74 sc_fly_static elementor-widget elementor-widget-spacer"
											data-id="820ec74" data-element_type="widget"
											data-widget_type="spacer.default">
											<div class="elementor-widget-container">
												<div class="elementor-spacer">
													<div class="elementor-spacer-inner"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
	</div>
</footer><!-- /.footer_wrap -->