<header
	class="top_panel top_panel_custom top_panel_custom_37369 top_panel_custom_header-home-style-2				 without_bg_image">
	<div data-elementor-type="cpt_layouts" data-elementor-id="37369" class="elementor elementor-37369">
		<section
			class="elementor-section elementor-top-section elementor-element elementor-element-130b0fa elementor-section-full_width elementor-section-content-middle sc_layouts_row sc_layouts_row_type_compact scheme_dark sc_layouts_hide_on_tablet sc_layouts_hide_on_mobile elementor-section-height-default elementor-section-height-default sc_fly_static"
			data-id="130b0fa" data-element_type="section" data-settings="{" background_background":"classic"}"="">
			<div class="elementor-container elementor-column-gap-extended">
				<div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-f3c561e sc_layouts_column_align_left sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
					data-id="f3c561e" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<div class="sc_layouts_item elementor-element elementor-element-e9c3a64 sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_logo"
							data-id="e9c3a64" data-element_type="widget" data-widget_type="trx_sc_layouts_logo.default">
							<div class="elementor-widget-container">
								<a href="#"
									class="sc_layouts_logo sc_layouts_logo_default trx_addons_inline_350051429"><img
										class="logo_image" src="/pics/logo-2.png" srcset="/pics/logo-2-retina.png 2x"
										alt="Tuning" width="183" height="51"></a>
							</div>
						</div>

					</div>
				</div>
				<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e495841 sc_layouts_column_align_right sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
					data-id="e495841" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<div class="sc_layouts_item elementor-element elementor-element-6324ea5 sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_iconed_text"
							data-id="6324ea5" data-element_type="widget"
							data-widget_type="trx_sc_layouts_iconed_text.default">
							<div class="elementor-widget-container">
								<div class="sc_layouts_iconed_text"><a href="tel:1%20800%20458%2056%2097"
										class="sc_layouts_item_link sc_layouts_iconed_text_link"><span
											class="sc_layouts_item_details sc_layouts_iconed_text_details"><span
												class="sc_layouts_item_details_line1 sc_layouts_iconed_text_line1">+91
												6305274893</span></span></a>
								</div>
							</div>
						</div>
						<div class="sc_layouts_item elementor-element elementor-element-381f3ca sc_fly_static elementor-widget elementor-widget-trx_sc_button"
							data-id="381f3ca" data-element_type="widget" data-widget_type="trx_sc_button.default">
							<div class="elementor-widget-container">
								<div class="sc_item_button sc_button_wrap"><a href="#"
										class="sc_button sc_button_default sc_button_size_small sc_button_icon_left"><span
											class="sc_button_text"><span class="sc_button_title">Let's
												Talk</span></span></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section
			class="elementor-section elementor-top-section elementor-element elementor-element-d77866a elementor-section-full_width elementor-section-content-middle scheme_dark sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook elementor-section-height-default elementor-section-height-default sc_fly_static"
			data-id="d77866a" data-element_type="section">
			<div class="elementor-container elementor-column-gap-no">
				<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-21378bf sc_layouts_column_align_left sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
					data-id="21378bf" data-element_type="column">
					<div class="elementor-widget-wrap elementor-element-populated">
						<section
							class="elementor-section elementor-inner-section elementor-element elementor-element-aedc0d4 elementor-section-full_width elementor-section-content-middle sc_layouts_row sc_layouts_row_type_compact elementor-section-height-default elementor-section-height-default sc_fly_static"
							data-id="aedc0d4" data-element_type="section">
							<div class="elementor-container elementor-column-gap-no">
								<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-91f627c sc_layouts_column_align_left sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
									data-id="91f627c" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="sc_layouts_item elementor-element elementor-element-5ba1ede sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_logo"
											data-id="5ba1ede" data-element_type="widget"
											data-widget_type="trx_sc_layouts_logo.default">
											<div class="elementor-widget-container">
												<a href="#"
													class="sc_layouts_logo sc_layouts_logo_default trx_addons_inline_2069450136"><img
														class="logo_image" src="/pics/logo-2.png"
														srcset="/pics/logo-2-retina.png 2x" alt="Tuning" width="183"
														height="51"></a>
											</div>
										</div>
									</div>
								</div>
								<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6b4e191 sc_layouts_column_align_right sc_layouts_column sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
									data-id="6b4e191" data-element_type="column">
									<div class="elementor-widget-wrap elementor-element-populated">
										<div class="sc_layouts_item elementor-element elementor-element-7c37e00 sc_fly_static elementor-widget elementor-widget-trx_sc_layouts_menu"
											data-id="7c37e00" data-element_type="widget"
											data-widget_type="trx_sc_layouts_menu.default">
											<div class="elementor-widget-container">
												<div
													class="sc_layouts_iconed_text sc_layouts_menu_mobile_button_burger sc_layouts_menu_mobile_button without_menu">
													<a class="sc_layouts_item_link sc_layouts_iconed_text_link" href="#"
														role="button">
														<span
															class="sc_layouts_item_icon sc_layouts_iconed_text_icon trx_addons_icon-menu"></span>
													</a>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-3ded64d elementor-view-framed elementor-shape-square sc_fly_static elementor-widget elementor-widget-icon"
											data-id="3ded64d" data-element_type="widget"
											data-widget_type="icon.default">
											<div class="elementor-widget-container">
												<div class="elementor-icon-wrapper">
													<a class="elementor-icon" href="tel:1%20800%20458%2056%2097">
														<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
															class="e-font-icon-svg e-fas-phone-alt"
															viewBox="0 0 512 512">
															<path
																d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z">
															</path>
														</svg> </a>
												</div>
											</div>
										</div>
										<div class="sc_layouts_item elementor-element elementor-element-69df750 sc_layouts_hide_on_mobile sc_fly_static elementor-widget elementor-widget-trx_sc_button"
											data-id="69df750" data-element_type="widget"
											data-widget_type="trx_sc_button.default">
											<div class="elementor-widget-container">
												<div class="sc_item_button sc_button_wrap"><a href="#"
														class="sc_button hide_on_mobile sc_button_default sc_button_size_small sc_button_icon_left"><span
															class="sc_button_text"><span class="sc_button_title">Let's
																Talk</span></span></a></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
	</div>
</header>
<div class="menu_mobile_overlay scheme_dark"></div>
<div class="menu_mobile menu_mobile_fullscreen scheme_dark">
	<div class="menu_mobile_inner with_widgets">
		<div class="menu_mobile_header_wrap">
			<a class="sc_layouts_logo" href="#">
				<img src="/pics/logo-2.png" srcset="/pics/logo-2-retina.png 2x" alt="Tuning" width="183" height="51">
			</a>

			<span class="menu_mobile_close menu_button_close" tabindex="0"><span
					class="menu_button_close_text">Close</span><span class="menu_button_close_icon"></span></span>
		</div>
		<div class="menu_mobile_content_wrap content_wrap">
			<div class="menu_mobile_content_wrap_inner">
				<nav class="menu_mobile_nav_area">
					<ul id="mobile-menu_mobile_1458861367">
						<li id="mobile-menu-item-37440"
							class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children menu-item-37440">
							<a href="#"><span>Home</span></a>
							<ul class="sub-menu">
								<li id="mobile-menu-item-37441"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-37441">
									<a href="#"><span>Car Detailing</span></a>
								</li>
								<li id="mobile-menu-item-37439"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37439"><a
										href="#"><span>Auto Repair</span></a>
								</li>
								<li id="mobile-menu-item-37438"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37438"><a
										href="#"><span>Car
											Dealership</span></a></li>
								<li id="mobile-menu-item-37437"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37437"><a
										href="#"><span>Accessories
											Store</span></a></li>
								<li id="mobile-menu-item-37436"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37436"><a
										href="#"><span>Auto Body
											Shop</span></a></li>
								<li id="mobile-menu-item-37435"
									class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-37192 current_page_item menu-item-37435">
									<a href="#" aria-current="page"><span>Car
											Wash</span></a>
								</li>
								<li id="mobile-menu-item-37434"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37434"><a
										href="#"><span>Wheels and
											Tires</span></a></li>
							</ul>
						</li>
						<li id="mobile-menu-item-36634"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-36634">
							<a href="#"><span>Pages</span></a>
							<ul class="sub-menu">
								<li id="mobile-menu-item-36814"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36814"><a
										href="#"><span>About Us</span></a></li>
								<li id="mobile-menu-item-708"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-708"><a
										href="#"><span>Our Services</span></a>
								</li>
								<li id="mobile-menu-item-36804"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36804"><a
										href="#"><span>Our Team</span></a></li>
								<li id="mobile-menu-item-36806"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36806"><a
										href="#"><span>FAQ</span></a></li>
								<li id="mobile-menu-item-36805"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36805"><a
										href="#"><span>Pricing</span></a></li>
								<li id="mobile-menu-item-36803"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36803"><a
										href="#"><span>Contact Us</span></a></li>
								<li id="mobile-menu-item-36801"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36801"><a
										href="#"><span>Request a
											Quote</span></a></li>
								<li id="mobile-menu-item-36808"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36808"><a
										href="#"><span>Booking
											Calendar</span></a></li>
								<li id="mobile-menu-item-38110"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-38110">
									<a href="#"><span>Tools</span></a>
									<ul class="sub-menu">
										<li id="mobile-menu-item-38111"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38111">
											<a href="#"><span>Typography</span></a>
										</li>
										<li id="mobile-menu-item-36638"
											class="menu-item menu-item-type-custom menu-item-object-custom menu-item-36638">
											<a href="#"><span>404 Page</span></a>
										</li>
										<li id="mobile-menu-item-38112"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38112">
											<a href="#"><span>Service
													Plus</span></a>
										</li>
										<li id="mobile-menu-item-36833"
											class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36833">
											<a href="#"><span>Newsletter
													Popup</span></a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li id="mobile-menu-item-1203"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1203">
							<a href="#"><span>Cars</span></a>
							<ul class="sub-menu">
								<li id="mobile-menu-item-1204"
									class="menu-item menu-item-type-post_type_archive menu-item-object-cpt_cars menu-item-1204">
									<a href="#"><span>All Cars</span></a>
								</li>
								<li id="mobile-menu-item-1205"
									class="menu-item menu-item-type-post_type menu-item-object-cpt_cars menu-item-1205">
									<a href="#"><span>Single Car</span></a>
								</li>
							</ul>
						</li>
						<li id="mobile-menu-item-38116"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-38116">
							<a href="#"><span>Portfolio</span></a>
							<ul class="sub-menu">
								<li id="mobile-menu-item-36920"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36920"><a
										href="#"><span>Zoom In</span></a>
								</li>
								<li id="mobile-menu-item-36937"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36937"><a
										href="#"><span>Horizontal
											Scroll</span></a></li>
								<li id="mobile-menu-item-36846"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36846"><a
										href="#"><span>List Hover
											Waves</span></a></li>
								<li id="mobile-menu-item-36847"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36847"><a
										href="#"><span>Grid Hover
											Waves</span></a></li>
								<li id="mobile-menu-item-36653"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-36653">
									<a href="#"><span>Single Portfolio</span></a>
									<ul class="sub-menu">
										<li id="mobile-menu-item-38620"
											class="menu-item menu-item-type-post_type menu-item-object-cpt_portfolio menu-item-38620">
											<a href="#"><span>Right
													Sidebar</span></a>
										</li>
										<li id="mobile-menu-item-38619"
											class="menu-item menu-item-type-post_type menu-item-object-cpt_portfolio menu-item-38619">
											<a href="#"><span>Left
													Sidebar</span></a>
										</li>
										<li id="mobile-menu-item-38618"
											class="menu-item menu-item-type-post_type menu-item-object-cpt_portfolio menu-item-38618">
											<a href="#"><span>Fullwidth</span></a>
										</li>
										<li id="mobile-menu-item-38621"
											class="menu-item menu-item-type-post_type menu-item-object-cpt_portfolio menu-item-38621">
											<a href="#"><span>Video
													Background</span></a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li id="mobile-menu-item-38117"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-38117">
							<a href="#"><span>Blog</span></a>
							<ul class="sub-menu">
								<li id="mobile-menu-item-38119"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38119"><a
										href="#"><span>Standard</span></a></li>
								<li id="mobile-menu-item-36876"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36876"><a
										href="#"><span>List</span></a></li>
								<li id="mobile-menu-item-36877"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36877"><a
										href="#"><span>Grid</span></a>
								</li>
								<li id="mobile-menu-item-38118"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-38118">
									<a href="#"><span>Single Post</span></a>
									<ul class="sub-menu">
										<li id="mobile-menu-item-38561"
											class="menu-item menu-item-type-post_type menu-item-object-post menu-item-38561">
											<a href="#"><span>With
													Sidebar</span></a>
										</li>
										<li id="mobile-menu-item-38562"
											class="menu-item menu-item-type-post_type menu-item-object-post menu-item-38562">
											<a href="#"><span>Without
													Sidebar</span></a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li id="mobile-menu-item-36661"
							class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-36661">
							<a href="#"><span>Shop</span></a>
							<ul class="sub-menu">
								<li id="mobile-menu-item-229"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-229"><a
										href="#"><span>Product List</span></a></li>
								<li id="mobile-menu-item-36679"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-36679">
									<a href="#"><span>Single Product</span></a>
									<ul class="sub-menu">
										<li id="mobile-menu-item-38682"
											class="menu-item menu-item-type-post_type menu-item-object-product menu-item-38682">
											<a href="#"><span>Default</span></a>
										</li>
										<li id="mobile-menu-item-38700"
											class="menu-item menu-item-type-post_type menu-item-object-product menu-item-38700">
											<a href="#"><span>Fullwidth</span></a>
										</li>
										<li id="mobile-menu-item-38708"
											class="menu-item menu-item-type-post_type menu-item-object-product menu-item-38708">
											<a href="#"><span>Cascade</span></a>
										</li>
										<li id="mobile-menu-item-38686"
											class="menu-item menu-item-type-post_type menu-item-object-product menu-item-38686">
											<a href="#"><span>Grid</span></a>
										</li>
									</ul>
								</li>
								<li id="mobile-menu-item-38113"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38113"><a
										href="#"><span>Cart</span></a></li>
								<li id="mobile-menu-item-38114"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38114"><a
										href="#"><span>Checkout</span></a></li>
								<li id="mobile-menu-item-38115"
									class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38115"><a
										href="#"><span>Wishlist Page</span></a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<div class="socials_mobile"><a target="_blank" rel="nofollow"
						href="https://www.facebook.com/ThemeRexStudio/"
						class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
							class="social_icon social_icon_facebook-1" style=""><span
								class="screen-reader-text">facebook-1</span><span
								class="icon-facebook-1"></span></span></a><a target="_blank" rel="nofollow"
						href="https://twitter.com/ThemerexThemes/"
						class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
							class="social_icon social_icon_twitter-x" style=""><span
								class="screen-reader-text">twitter-x</span><span
								class="trx_addons_icon-twitter-x"></span></span></a><a target="_blank" rel="nofollow"
						href="https://dribbble.com/ThemeREX/"
						class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
							class="social_icon social_icon_dribble-new" style=""><span
								class="screen-reader-text">dribble-new</span><span
								class="icon-dribble-new"></span></span></a><a target="_blank" rel="nofollow"
						href="https://www.instagram.com/themerex_net/"
						class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
							class="social_icon social_icon_instagram" style=""><span
								class="screen-reader-text">instagram</span><span
								class="icon-instagram"></span></span></a></div>
			</div>
		</div>
		<div class="menu_mobile_widgets_area">
			<div
				class="widgets_additional_menu_mobile_fullscreen widgets_additional_menu_mobile_fullscreen_wrap widget_area">
				<div
					class="widgets_additional_menu_mobile_fullscreen_inner widgets_additional_menu_mobile_fullscreen_inner widget_area_inner">
					<aside class="widget_text widget widget_custom_html">
						<div class="textwidget custom-html-widget">
							<div class="extra_item">
								<h6>Have a Project?</h6>
								<a href="mailto:info@website.com">info@website.com</a>
							</div>

							<div class="extra_item">
								<h6>Want to Work with Us?</h6>
								<a href="#">Send Brief</a>
							</div>

							<div class="extra_item">
								<h6>Looking for a Car?</h6>
								<a href="#">Find Yours</a>
							</div>
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div>